@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap');
* {
    animation: fade-in 1s;
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;
}

.card{
    box-shadow: -1px 2px 25px rgba(0,0,0,.08);
    padding: 3%;
    margin: 2%;
    border-radius: 25px;
}

.thead{
    background-color: #141414;
    color: white;

}
@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
}